BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
FREQUENCY NET "r_sys_clk" 100.000000 MHz ;
FREQUENCY NET "i_osci_clock_c" 50.000000 MHz ;
LOCATE COMP "o_led_0" SITE "46" ;
LOCATE COMP "o_led_1" SITE "45" ;
LOCATE COMP "o_led_2" SITE "44" ;
LOCATE COMP "o_led_3" SITE "43" ;
LOCATE COMP "o_led_4" SITE "40" ;
LOCATE COMP "o_led_5" SITE "39" ;
LOCATE COMP "o_led_6" SITE "38" ;
LOCATE COMP "o_led_7" SITE "37" ;
IOBUF PORT "o_led_0" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_led_1" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_led_2" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_led_3" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_led_4" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_led_5" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_led_6" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_led_7" IO_TYPE=LVCMOS33 ;
IOBUF PORT "o_miso" IO_TYPE=LVCMOS33 ;
LOCATE COMP "i_button_0" SITE "54" ;
LOCATE COMP "i_button_1" SITE "53" ;
LOCATE COMP "i_button_2" SITE "52" ;
LOCATE COMP "i_button_3" SITE "50" ;
LOCATE COMP "i_osci_clock" SITE "21" ;
LOCATE COMP "i_cs" SITE "103" ;
LOCATE COMP "i_sclk" SITE "69" ;
LOCATE COMP "o_miso" SITE "102" ;
LOCATE COMP "i_mosi" SITE "66" ;
LOCATE COMP "i_reset" SITE "101" ;
IOBUF PORT "i_button_0" IO_TYPE=LVCMOS33 ;
IOBUF PORT "i_button_1" IO_TYPE=LVCMOS33 ;
IOBUF PORT "i_button_2" IO_TYPE=LVCMOS33 ;
IOBUF PORT "i_button_3" IO_TYPE=LVCMOS33 ;
IOBUF PORT "i_cs" IO_TYPE=LVCMOS33 DRIVE=NA PULLMODE=UP ;
IOBUF PORT "i_mosi" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "i_reset" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "i_sclk" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "i_osci_clock" IO_TYPE=LVCMOS25 ;
LOCATE COMP "o_debug_0" SITE "92" ;
LOCATE COMP "o_debug_1" SITE "78" ;
IOBUF PORT "o_debug_0" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST PCICLAMP=OFF OPENDRAIN=OFF ;
IOBUF PORT "o_debug_1" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "o_osci_enable" SITE "22" ;
